asgiref==3.4.0
beautifulsoup4==4.9.3
certifi==2021.5.30
cloudinary==1.26.0
config==0.3.9
confusable-homoglyphs==3.2.0
dj-database-url==0.5.0
Django==3.0
django-bootstrap-v5==1.0.4
django-heroku==0.3.1
django-mathfilters==1.0.0
django-tinymce==2.5.0
djangorestframework==3.12.4
gunicorn==19.9.0
importlib-metadata==3.10.1
Pillow==8.3.2
psycopg2==2.8.6
pycodestyle==2.7.0
python-decouple==3.1
pytz==2018.5
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.6
whitenoise==5.2.0
zipp==3.5.0
