{% extends 'auth/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}

{% if form.errors %}
<div class="alert-danger py-1 mb-1 rounded">
    <p class="text-danger m-3">Passwords did not match.</p>
</div>
{% endif %}
<form class="form" action="" method="POST">
    {% csrf_token %}
    <div class="input_field">
        {{ form.first_name }}
    </div>
    <div class="input_field">
        {{ form.last_name }}
    </div>
    <div class="input_field">
        {{ form.username }}
    </div>
    <div class="input_field">
        {{ form.email }}
    </div>
    <div class="input_field">
        {{ form.password1 }}
    </div>
    <div class="input_field">
        {{ form.password2 }}
    </div>

    <button type="submit" class="btn btn-primary w-100">Sign Up</button>
    <hr>
    <p class="my-4">Have an account? <a href="{% url 'login'%}">Sign In</a></p>
</form>

<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'First name';
    form_fields[2].placeholder = 'Last name';
    form_fields[3].placeholder = 'Username';
    form_fields[4].placeholder = 'Email';
    form_fields[5].placeholder = 'Password';
    form_fields[6].placeholder = 'Confirm password';


    for (var field in form_fields) {
        form_fields[field].className += 'input'
        form_fields[field].required = true
    }
</script>

{% endblock %}