@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Rum+Raisin:regular);

$primary-color: #C66085;

html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    background-color: #F7F5F4;
}

a{
    color: $primary-color;
    &:hover{
        color: #883956;
    }
}

.auth-form-wrapper{
    background-color: #F7F5F4;
    .logo{
        font-family: 'Rum Raisin', cursive;
        font-size: 3rem;
        color: $primary-color;
    }
    .form{
        width: 100%;
        .input_field{
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            .input{
                width: 100%;
                padding: 0.5rem;
                outline: none;
                border: none;
                background-color: #FFFFFF;
                &::placeholder{
                    font-weight: 300;
                }
            }
        }
        .btn{
            background-color: $primary-color;
            border: 1px solid $primary-color;
            text-transform: uppercase;
            border-radius: 0;
        }
    }
}

nav{
    background-color: $primary-color;
    height: 80px;
    .nav-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .logo a{
            color: white;
            text-decoration: none;
            font-family: 'Rum Raisin', cursive;
            font-size: 3rem;
        }
        .menu{
            color: white;
            ul{
                list-style: none;
                display: flex;
                li {
                    a {
                        color: white;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
.content_wrapper{
    background-color: white;
    .searchform{
        form{
            *{
                border-radius: 0;
                font-family: 'Roboto', sans-serif;
            }
            .btn{
                background-color: $primary-color;
                border: 1px solid $primary-color;
                outline: none;
            }
            input{
                outline: none;
                border: 1px solid $primary-color;
            }
        }
    }
}