{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load mathfilters %}


{% block content %}
<div class="container my-5 p-5 content_wrapper">

    <div class="profile">
        <h3>{{project.name}}</h3>
        <div class="d-flex mb-4">
            <div class="profile_pic">
                <img src="{{project.screenshot.url}}" alt="">
            </div>
            <div class="details">
                <div class="project-overall-rating">
                    <p>{{ project.get_overall_average_rating }}</p>
                </div>
                <p>({{ project.reviews.count }} review{{ project.reviews.count | pluralize }}) </p>
                <div class="category-rating">
                    <p>Design</p>
                    <div class="d-flex align-items-center">
                        <div class="ratingbar">
                            <div class="bar" style="width: {{project.get_average_design_rating | mul:10}}%;"></div>
                        </div>
                        <small class="rating-prev mx-2">{{project.get_average_design_rating}}</small>
                    </div>
                </div>
                <div class="category-rating">
                    <p>Usability</p>
                    <div class="d-flex align-items-center">
                        <div class="ratingbar">
                            <div class="bar" style="width: {{project.get_average_usability_rating | mul:10}}%;"></div>
                        </div>
                        <small class="rating-prev mx-2">{{project.get_average_usability_rating}}</small>
                    </div>
                </div>
                <div class="category-rating">
                    <p>Content</p>
                    <div class="d-flex align-items-center">
                        <div class="ratingbar">
                            <div class="bar" style="width: {{project.get_average_content_rating | mul:10}}%;"></div>
                        </div>
                        <small class="rating-prev mx-2">{{project.get_average_content_rating}}</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn btn-outline-primary my-4 rounded-0 text-uppercase">Add Review</div>
        <h4>Description</h4>
        <hr>
        <p>{{project.description}}
        </p>
        <h4>Reviews</h4>
        <hr>
        {% if reviews %}
        {% for review in reviews %}
        <div class="stars">
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star-half'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
                <i class='bx bx-star'></i>
            </div>
        </div>
        <p>{{review.review}}
        </p>
        <small><em>- {{review.reviewer.user.first_name | title}} {{review.reviewer.user.last_name | title}},
                {{review.review_date | timesince}} ago.</em></small>
        <hr>
        {%endfor%}
        {%else%}
        <p>No reviews for this project yet.</p>
        {% endif %}
        

    </div>
</div>
{% endblock %}